#containerHomePage {
    margin: 50px 100px 0 100px;
}

#containerHomePage h1 {
    font-size: 50px;
}

#itemDays {
    margin: 50px 0 50px 0;
    height: 200px;
    display: flex;
    gap: 5%;
    align-items: center;
    cursor: pointer;
}
.gameDays {
    padding: 25px;
    height: 200px;
    width: 350px;
    display: flex;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    transition: 0.3s ease;
}
.bucketButton2 {
    margin: 0 0 0 130px;
    width: 55px;
    height: 50px;
    border-radius: 15px;
    border: none;
}
.bucketButtonImg1 {
    width: 25px;
    height: 25px;
}
.gameDays:hover {
    border-radius: 35px;
    box-shadow: 0 7px 5px rgba(0, 0, 0, 0.3);
}
.gameDays h2 {
    font-size: 20px;
}
.gameDays h3 {
    margin: 75px 0 0 10px;
    font-size: 20px;
}
.imgGame {
    width: 120px;
    object-fit: contain;
}
.textContainer {
    margin: 0 50px 0 10px;
    width: 100%;
}

#category {
    height: 500px;
    margin: 100px 0 50px 0;
    display: flex;
    justify-content: center;
    gap: 10%;
}
#category h1 {
    font-size: 30px;
    margin: 0 0 50px 0;
}

.buttonsCategorry {
    height: 400px;
    width: 400px;
    cursor: pointer;
    background-color: white;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: border-radius 0.3s ease;
    border-radius: 15px;
}

.imgCatogory {
    height: 90%;
    width: 90%;
    object-fit: contain;
}
.imgBord {
    height: 90%;
    width: 90%;
}

#pg {
    margin: 100px 0 0 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 колонки */
    gap: 10px; /* Відстань між іграми */
}
#pg p {
    font-size: 28px;
}
.game {
    border-radius: 15px;
    text-align: left;
    width: 400px;
    height: 700px;
    font-size: 40px;
    font-weight: bold;
    padding: 25px 50px 25px 50px;
    margin-bottom: 100px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.qwe {
    width: 300px;
    height: 400px;
    margin: 0 0 10px 0;
}
.game h3 {
    margin: 10px 0 10px 0;
    background-color: #149700;
    width: 55%;
    color: #ffffff;
    font-size: 20px;
    height: 30px;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 3px;
    border-radius: 10px;
}
.game h4 {
    margin: 10px 0 0 0;
    color: #686868;
    font-size: 20px;
}
.unavailableH3 {
    background-color: red !important; /* Задає червоний фон для h3 у відсутніх іграх */
    color: white; /* Білий текст для контрасту */
    padding: 5px; /* Додає трохи відступу для покращення вигляду */
}
#price {
    margin: 20px 0 0 0;
    text-align: left;
}
.bucketButton1 {
    margin: 0 0 0 255px;
    width: 50px;
    height: 50px;
    border-radius: 15px;
    border: none;
}
.bucketButtonImg1 {
    width: 25px;
    height: 25px;
}
.link {
    text-decoration: none;
}
.buttonsCategorry:hover {
    border-radius: 35px;
    box-shadow: 0 7px 5px rgba(0, 0, 0, 0.3);
}
