* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 140px;
    background-color: #2e3192;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 100px;
    box-shadow: 0 20px 80px rgba(0, 0, 0, 0.2);
}

.headerContent {
    display: flex;
    align-items: center;
}

.container h1 {
    font-weight: bold;
    font-size: 70px;
    color: #00ffff;
    margin-left: 10px;
}

.container ul {
    display: flex;
    gap: 20px;
}

.container li {
    font-size: 20px;
    list-style: none;
    color: #fff;
}

.logo {
    height: 60px;
    width: auto;
    margin-right: 25px;
}
.link {
    text-decoration: none;
}
