.login {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2e3192;
    padding: 110px;
}
.circle {
    border-radius: 50%;
}
.login form {
    border: 3px solid #ffffff;
    height: 450px;
    border-radius: 55px;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 450px;
    padding: 80px 100px 0 100px;
    color: white;
}

.login form input {
    height: 30px;
    border: 3px solid #ffffff;
    margin-top: 10px;
    font-size: 20px;
    border-radius: 10px;
    padding: 5px;
}
.login form input:focus {
    outline: none;
}

.login form label {
    font-weight: bold;
    text-align: left;
    margin-top: 20px;
    color: #ffffff;
}
.login form button {
    height: 40px;
    margin: 30px 0 10px 0;
    background-color: #2e3192;
    color: white;
    border: 3px solid #ffffff;
    border-radius: 15px;
    transition: 0.3s ease;
}
.login form button:hover {
    background-color: #ffffff;
    color: #000000;
}
.login .links {
    text-decoration: none;
    color: white;
    font-size: 18px;
}
